@charset "UTF-8";
/* search */
/* recipe */
/***
    The new CSS reset - version 1.8.2 (last updated 23.12.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
pre {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: "";
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #D04F4F;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.666666667em;
}

body {
  padding: 42px 100px;
}

.recipe-wrapper {
  display: flex;
  width: calc(100% + 50px);
  margin: -50px 0 0 -50px;
  flex-wrap: wrap;
}
.recipe-wrapper .no-results-message {
  margin: 100px 0 0 50px;
  font-size: 1em;
}

.search-section {
  padding-bottom: 25px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-search {
  position: relative;
  display: flex;
  justify-content: center;
  height: 69px;
  background-color: #E7E7E7;
  border-radius: 5px;
  margin: 17px 0;
}
.main-search__input {
  width: 100%;
  padding: 0 69px 0 24px;
}
.main-search__input::placeholder {
  opacity: 0.25;
}
.main-search__label {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 18.1578947368px;
  cursor: pointer;
}

.filter-section {
  margin-bottom: 89px;
  position: relative;
}

.filters__container {
  position: absolute;
  display: flex;
  margin: -20px 0 0 -20px;
  width: calc(100% + 20px);
}
.filters__tags .tag {
  color: white;
  font-weight: 700;
  font-size: 0.7778em;
  padding: 8px 20px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 15px 0;
}
.filters__tags .tag i {
  height: 20px;
  width: 20px;
  background: url("../images/close.svg") center no-repeat;
  margin-left: 13px;
  cursor: pointer;
}
.filters__tags .tag--blue {
  background-color: #3282F7;
}
.filters__tags .tag--green {
  background-color: #68D9A4;
}
.filters__tags .tag--red {
  background-color: #ED6454;
}

.filter {
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  color: white;
  margin: 20px 0 0 20px;
}
.filter__input {
  height: 69px;
  position: relative;
}
.filter__input i {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  align-items: center;
  display: flex;
  background: url("../images/arrow.svg") center no-repeat;
  width: 60px;
  transform: rotate(180deg);
}
.filter__input input {
  height: 100%;
  width: 100%;
  padding-left: 15px;
}
.filter__input input::placeholder {
  font-weight: 700;
}
.filter__list {
  display: none;
  padding: 0 20px;
  columns: 3;
}
.filter__list.col-1 {
  columns: 1;
}
.filter__list.col-2 {
  columns: 2;
}
.filter__list li {
  cursor: pointer;
  padding: 5px 0 5px 0;
}
.filter__list li.focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.filter__list li:last-child {
  padding-bottom: 16px;
}
.filter--blue {
  background-color: #3282F7;
}
.filter--green {
  background-color: #68D9A4;
}
.filter--red {
  background-color: #ED6454;
}
.filter.expanded {
  min-width: 300px;
}
.filter.expanded .filter__input input::placeholder {
  opacity: 0.5;
}
.filter.expanded .filter__input i {
  transform: rotate(0deg);
}
.filter.expanded .filter__list {
  display: block;
}

.recipe-card {
  width: calc(33.33% - 50px);
  margin: 50px 0 0 50px;
  border-radius: 5px;
  overflow: hidden;
}
.recipe-card__img-container {
  height: 178px;
  background-color: #C7BEBE;
}
.recipe-card__bottom-container {
  background-color: #E7E7E7;
  padding: 20px;
  min-height: 186px;
  height: 100%;
}
.recipe-card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recipe-card__recipe-body {
  display: flex;
}
.recipe-card__ingredients {
  width: 50%;
  margin-top: 20px;
  font-size: 0.666666667em;
  padding-right: 7px;
}
.recipe-card__duration {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.recipe-card__duration i {
  background: url("../images/watch.svg") center no-repeat;
  height: 20px;
  width: 20px;
  margin-right: 7px;
  flex-shrink: 0;
}
.recipe-card__preparation {
  width: 50%;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
